.signup{

 .error-message {
        color: red;
        margin-top: 5px;
        font-size: 14px;
    }

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register form {
    display: flex;
    justify-content: space-between;
    width: 800px;
    background-color: #807b7b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left,
.right {
    flex: 1;
    padding: 20px;
}

.left {
    border-right: 1px solid #ccc;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    margin-bottom: 15px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle label {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #007bff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media (max-width: 768px) {
    .register form {
        flex-direction: column;
        width: 90%;
    }

    .left,
    .right {
        width: 100%;
        border: none;
        padding: 0;
        margin-bottom: 20px;
    }

    .left {
        border-bottom: 1px solid #ccc;
    }
}
}